### __Python Sets__

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is _unordered, unchangeable*, and unindexed_.

* Note: Set items are unchangeable, but you can remove items and add new items.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates

The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)
print()

thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{'apple', 2, True, 'cherry', 'banana'}

{False, 'apple', True, 'cherry', 'banana'}

##### __Length of a Set__

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

##### __Type of a Set__

In [6]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

##### __Set() Constructor__

In [7]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

##### __Access Items__

In [8]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
print()

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
print()

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)
print()

apple
cherry
banana

True

False

##### __Change Items__

_Once a set is created, you cannot change its items, but you can add new items._

##### __Add Items__

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
print()

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)
print()

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

{'apple', 'mango', 'papaya', 'pineapple', 'cherry', 'banana'}

{'apple', 'banana', 'kiwi', 'orange', 'cherry'}

##### __Remove Items__

Note: If the item to remove does not exist, remove() will raise an error.

If the item to remove does not exist, discard() will NOT raise an error.

Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)
print()

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)
print()

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)
print()

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)#this will raise an error because the set no longer exists

{'apple', 'cherry'}

{'apple', 'cherry'}

apple
{'cherry', 'banana'}

set()

NameError: name 'thisset' is not defined

##### __Loop Sets__

In [15]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
cherry
banana

##### __Join Sets__

Union, The union() method returns a new set with all items from both sets.

In [18]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)
print()


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)
print()

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'b', 'a', 'c'}

{1, 2, 3, 'b', 'a', 'c'}

{1, 2, 3, 'apple', 'Elena', 'a', 'John', 'c', 'bananas', 'b', 'cherry'}

Update, The update() method inserts all items from one set into another. The update() changes the original set, and does not return a new set.

In [19]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

__Note: Both union() and update() will exclude any duplicate items.__

Intersection, Keep ONLY the duplicates.

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)
print()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

{'apple'}

{'apple'}

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [22]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

Difference, The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [25]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)
print()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

{'cherry', 'banana'}

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [26]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)
print()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'microsoft', 'banana', 'google', 'cherry'}

{'microsoft', 'banana', 'google', 'cherry'}

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [29]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'microsoft', 'banana', 'google', 'cherry'}